
<div class="login-page">
    <div class="page-header">
        <h1>µ»”⁄“≥√Ê</h1>
    </div>

    <div class="row">

            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Local Login</h3>
                    </div>
                    <div class="panel-body">

                        <form asp-route="Login">
                            <input type="hidden"  />

                            <fieldset>
                                <div class="form-group">
                                    <label ></label>
                                    <input class="form-control" placeholder="Username" autofocus>
                                </div>
                                <div class="form-group">
                                    <label></label>
                                    <input type="password" class="form-control" placeholder="Password"  autocomplete="off">
                                </div>
                               
                                    <div class="form-group login-remember">
                                        <label>
                                            <input>
                                            <strong>Remember My Login</strong>
                                        </label>
                                    </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" name="button" value="login">Login</button>
                                    <button class="btn btn-default" name="button" value="cancel">Cancel</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

       
    </div>
</div>